          <%= render "shared/alert" %>
          <%= link_to root_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>

      <%= image_tag("Abdullah/intro/Abdullah_intro.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="popup popup-abdullah" id="statut"></div>
      <div class="page-number page-number-abdullah"> <p>1  / 19</p> </div>
      <%= link_to abdullah_intro2_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
