      <%= link_to abdullah_page7_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("Abdullah/Abdullah_page8.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

       <div class="page-number page-number-abdullah"> <p>10  / 19</p> </div>
       <%= link_to abdullah_page9_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
