      <%= link_to abdullah_page1_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("Abdullah/page2/Abdullah_page2.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="popup popup-abdullah" id="abdullah_page2_avant"></div>
      <div class="popup popup-abdullah" id="armonia"></div>
      <div class="popup popup-abdullah" id="banana-house"></div>
      <div class="popup popup-abdullah" id="medequaliteam"></div>
      <div class="popup popup-abdullah" id="refugee4refugees"></div>
      <div class="popup popup-abdullah" id="samosvolunteers"></div>
      <div class="popup popup-abdullah" id="stillrise"></div>
      <%= link_to abdullah_page3_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
