      <%= link_to anna_intro_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("Anna/intro2/Anna_campsderefugies_infos.jpg", class: "image-popup") %>
      <div class="chart-popup">

      </div>


      <ul class='pie'>
        <li class='slice popup-anna slice-one'>
          <div class='slice-contents slice-contents-one' id="slice1"></div>
        </li>

        <li class='slice slice-two'>
          <div class='slice-contents slice-contents-two' id="slice2"></div>
        </li>

        <li class='slice slice-three'>
          <div class='slice-contents slice-contents-three' id="slice3"></div>
        </li>

        <li class='slice slice-four'>
          <div class='slice-contents slice-contents-four' id="slice4"></div>
        </li>

        <li class='slice slice-five'>
          <div class='slice-contents slice-contents-four' id="slice5"></div>
        </li>

        <li class='slice slice-six'>
          <div class='slice-contents slice-contents-four' id="slice6"></div>
        </li> id="slice1"
        <li class='slice slice-seven'>
          <div class='slice-contents slice-contents-four' id="slice7"></div>
        </li>

        <li class='slice slice-height'>
          <div class='slice-contents slice-contents-four' id="slice8"></div>
        </li>
        <li class='slice slice-nine'>
          <div class='slice-contents slice-contents-four' id="slice9"></div>
        </li>


        <li class='slice slice-ten'>
          <div class='slice-contents slice-contents-four' id="slice10"></div>
        </li>
        <li class='slice slice-eleven'>
          <div class='slice-contents slice-contents-four' id="slice11   "></div>
        </li>



      </ul>
      <div class="page-number page-number-anna"> <p>2  / 9</p> </div>
      <%= link_to anna_page1_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>

