      <%= link_to root_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("Anna/intro/Anna_intro.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="popup popup-anna" id="lesbos"></div>
      <div class="popup popup-anna" id="chios"></div>
      <div class="popup popup-anna" id="samos"></div>
      <div class="popup popup-anna" id="kos"></div>
      <div class="page-number page-number-anna"> <p>1  / 9</p>
      </div>
      <%= link_to anna_intro2_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
