      <%= link_to anna_page4_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>         <%= image_tag("Anna/Anna_page5.jpg", class: "image-popup") %>
      <div class="page-number page-number-anna"> <p>7  / 9</p> </div>
        <%= link_to anna_page6_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
