      <%= link_to anna_page2_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("Anna/page3/Anna_page3.jpg", class: "image-popup") %>
        <div class="popup popup-abdullah" id="anna_page3_gif"></div>
        <div class="popup popup-abdullah" id="anna_page3_V2"></div>
      <%= link_to anna_page4_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
