      <%= link_to anna_page3_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("Anna/page4/Anna_page4.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="popup popup-anna" id="anna_page4_V2"></div>
      <div class="popup popup-anna" id="anna_page4_V3"></div>
      <div class="popup popup-anna" id="anna_page4_case2"></div>
      <%= link_to anna_page5_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
