<div class="wrapper">
  <div class="row">
    <%= link_to kashka_intro_path, class: "offset-md-1 col-md-3" do %>
        <div class="portrait" id="Kashka">

       </div>

    <% end %>
    <%= link_to abdullah_intro_path, class: "col-md-4" do %>
      <div class="portrait" id="Abdullah">

      </div>
    <% end %>
    <%= link_to anna_intro_path, class: "col-md-3" do %>
      <div class="portrait" id="Anna">

      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
     <%= image_tag('accueil/inspire-faits-reels.jpg', class:"image-faits")%>
  </div>
</div>

  <div class="container" id="apropos">
    <%= image_tag("apropos.jpg", class: "image-apropos", alt: "En 2020, j’ai passé trois mois à Samos en tant que bénévole pour MedEquali’Team, une ONG médicale qui dispense gratuitement des soins médicaux primaires aux personnes vivant dans le camp de réfugié·es présent sur l’île.
  Ma présence sur place a coïncidé avec l’arrivée du virus de Covid-19 en Europe et un pic de tension dans les cinq îles grecques de la mer Égée qui abritaient au total près de 42 000 demandeurs d’asile. <br>
  Après 5 ans de tension croissante, la population locale s’est retournée contre les migrants. Les manifestations d’hostilité se sont succédé au sein de la même société qui avait pourtant fait preuve d’une grande solidarité lors de la crise de l’accueil des migrants en 2015. <br>
  La Covid-19 a eu le même effet dans ce contexte que dans la grande majorité des situations précaires et des situations de vulnérabilité. Chez les populations migrantes, elle a exacerbé la détresse des demandeurs d’asile qui se sont retrouvés confinés dans des camps informels sans accès adéquat aux services de santé, à l’eau potable et à l’assainissement. Les conditions de quarantaine mises en place dans le camp pour celles et ceux qui avaient été testés positifs à la Covid étaient inacceptables et dangereuses, certaines personnes étaient enfermées dans des containers sales et la plupart dormaient à même le sol. Les mesures strictes de restrictions n'ont fait qu'ampirer leur misère. Le service d’asile a été paralysé pendant plusieurs mois, repoussant à nouveau la résolution de leur destin.
  <br> <br>
  Ce que je cherche à raconter dans cette bande dessinée est intimement lié à mon expérience sur Samos et le sentiment d’incompréhension et de tristesse qui m’a suivi pendant mes trois mois passés sur place. J'ai eu envie de trouver un moyen de toucher, sensibiliser mais surtout d’interpeller les citoyens français sur les conditions de (sur)vie des migrants dans les îles grecques mais aussi sur les conditions de travail des acteurs humanitaires, notamment en période de crise sanitaire de Covid-19. <br>
  Pour mieux comprendre la situation actuelle, et porter la voix de celles et ceux qui exercent au quotidien un métier en soutien aux plus vulnérables, et porter aussi la voix des plus gravement affectés par cette crise, l'idée m'est venue de créer de toute pièce une bande dessinée mettant en scène des personnages protagonistes (personnes migrantes et acteurs humanitaires) évoluant dans plusieurs situations que j'ai choisi d'illustrer, afin de mieux rendre compte des enjeux et des problématiques d'un camp de migrants en Grèce, en tentant d'être le plus fidèle possible à la réalité de ce contexte.
  Pour en faire un véritable outil pédagogique, j'ai choisi le format de la narration : une bande dessinée à la fois numérique, animée et interactive.
  <br> <br>
  Suite à mon volontariat à Samos, lors duquel j'ai rencontré une des membres de l’équipe de l'association Humacoop-Amel France, j'ai décidé d'intégrer l'association en septembre 2020, qui m'a alors soutenue tout au long de ce projet de création de bande dessinée.
  <br>
  Merci Emad, Paul, Mouaz, Omid, Fatima, Mai-Ly, Louise, Chiara d'avoir partagé vos histoires, d’avoir pris le temps de répondre à mes questions, de me lire et de me conseiller. Merci à Luc et Romain pour vos précieux conseils graphiques.") %>
    <div class="home-text">

      <h1>LES OUBLIÉS DES ÎLES GRECQUES</h1>
      <p>En 2020, j’ai passé trois mois à Samos en tant que bénévole pour MedEquali’Team, une ONG médicale qui dispense gratuitement des soins médicaux primaires aux personnes vivant dans le camp de réfugié·es présent sur l’île.
  Ma présence sur place a coïncidé avec l’arrivée du virus de Covid-19 en Europe et un pic de tension dans les cinq îles grecques de la mer Égée qui abritaient au total près de 42 000 demandeurs d’asile. <br>
  Après 5 ans de tension croissante, la population locale s’est retournée contre les migrants. Les manifestations d’hostilité se sont succédé au sein de la même société qui avait pourtant fait preuve d’une grande solidarité lors de la crise de l’accueil des migrants en 2015. <br>
  La Covid-19 a eu le même effet dans ce contexte que dans la grande majorité des situations précaires et des situations de vulnérabilité. Chez les populations migrantes, elle a exacerbé la détresse des demandeurs d’asile qui se sont retrouvés confinés dans des camps informels sans accès adéquat aux services de santé, à l’eau potable et à l’assainissement. Les conditions de quarantaine mises en place dans le camp pour celles et ceux qui avaient été testés positifs à la Covid étaient inacceptables et dangereuses, certaines personnes étaient enfermées dans des containers sales et la plupart dormaient à même le sol. Les mesures strictes de restrictions n'ont fait qu'ampirer leur misère. Le service d’asile a été paralysé pendant plusieurs mois, repoussant à nouveau la résolution de leur destin.
  <br> <br>
  Ce que je cherche à raconter dans cette bande dessinée est intimement lié à mon expérience sur Samos et le sentiment d’incompréhension et de tristesse qui m’a suivi pendant mes trois mois passés sur place. J'ai eu envie de trouver un moyen de toucher, sensibiliser mais surtout d’interpeller les citoyens français sur les conditions de (sur)vie des migrants dans les îles grecques mais aussi sur les conditions de travail des acteurs humanitaires, notamment en période de crise sanitaire de Covid-19. <br>
  Pour mieux comprendre la situation actuelle, et porter la voix de celles et ceux qui exercent au quotidien un métier en soutien aux plus vulnérables, et porter aussi la voix des plus gravement affectés par cette crise, l'idée m'est venue de créer de toute pièce une bande dessinée mettant en scène des personnages protagonistes (personnes migrantes et acteurs humanitaires) évoluant dans plusieurs situations que j'ai choisi d'illustrer, afin de mieux rendre compte des enjeux et des problématiques d'un camp de migrants en Grèce, en tentant d'être le plus fidèle possible à la réalité de ce contexte.
  Pour en faire un véritable outil pédagogique, j'ai choisi le format de la narration : une bande dessinée à la fois numérique, animée et interactive.
  <br> <br>
  Suite à mon volontariat à Samos, lors duquel j'ai rencontré une des membres de l’équipe de l'association Humacoop-Amel France, j'ai décidé d'intégrer l'association en septembre 2020, qui m'a alors soutenue tout au long de ce projet de création de bande dessinée.
  <br>
  Merci Emad, Paul, Mouaz, Omid, Fatima, Mai-Ly, Louise, Chiara d'avoir partagé vos histoires, d’avoir pris le temps de répondre à mes questions, de me lire et de me conseiller. Merci à Luc et Romain pour vos précieux conseils graphiques.</p>
    </div>
  </div>
