     <%= link_to kashka_page11_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
            <%= image_tag("Kashka/page12/Kashka_page12.jpg", class: "image-popup") %>
      <div class="popup popup-kashka" id="kashka_page12_eau"></div>

      <div class="page-number page-number-kashka"> <p>14  / 19</p> </div>
      <%= link_to kashka_page13_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
