     <%= link_to kashka_page13_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("Kashka/Kashka_page14.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>


      <div class="page-number page-number-kashka"> <p>16  / 19</p> </div>
      <%= link_to kashka_page15_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
