     <%= link_to kashka_page12_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
            <%= image_tag("Kashka/Kashka_page13.jpg", class: "image-popup") %>
      <div class="page-number page-number-kashka"> <p>15  / 19</p> </div>

      <%= link_to kashka_page14_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
