     <%= link_to kashka_page14_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
            <%= image_tag("Kashka/page15/Kashka_page15.jpg", class: "image-popup") %>
      <div class="popup popup-kashka" id="kashka_page15_douches"></div>
      <div class="page-number page-number-kashka"> <p>17  / 19</p> </div>
      <%= link_to kashka_page16_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
