     <%= link_to kashka_page7_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
            <%= image_tag("Kashka/Kashka_page8.jpg", class: "image-popup") %>

      <div class="page-number page-number-kashka"> <p>10  / 19</p> </div>
      <%= link_to kashka_page9_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
