      <%= link_to en_abdullah_page16_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("en/Abdullah/Abdullah_page17.jpg", class: "image-popup") %>

       <div class="page-number page-number-abdullah"> <p>19  / 19</p> </div>
       <%= link_to en_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
