  <%= link_to en_abdullah_intro_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
       <%= image_tag("en/Abdullah/intro/Abdullah-intro-demande d_asile.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>
       <div class="page-number page-number-abdullah"> <p>2  / 19</p> </div>
       <%= link_to en_abdullah_page1_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
