      <%= link_to en_abdullah_page1_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("en/Abdullah/page2/Abdullah_page2.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="popup popup-abdullah" id="en_abdullah_page2_avant"></div>
      <div class="popup popup-abdullah" id="en_armonia"></div>
      <div class="popup popup-abdullah" id="en_banana-house"></div>
      <div class="popup popup-abdullah" id="en_medequaliteam"></div>
      <div class="popup popup-abdullah" id="en_refugee4refugees"></div>
      <div class="popup popup-abdullah" id="en_samosvolunteers"></div>
      <div class="popup popup-abdullah" id="en_stillrise"></div>

       <div class="page-number page-number-abdullah"> <p>4  / 19</p> </div>
       <%= link_to en_abdullah_page3_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
