      <%= link_to en_abdullah_page4_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("en/Abdullah/Abdullah_page5.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

       <div class="page-number page-number-abdullah"> <p>7  / 19</p> </div>
       <%= link_to en_abdullah_page6_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
