      <%= link_to en_anna_page2_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("en/Anna/page3/Anna_page3.jpg", class: "image-popup") %>
        <div class="popup popup-abdullah" id="en_anna_page3_gif"></div>
        <div class="popup popup-abdullah" id="en_anna_page3_V2"></div>
      <div class="page-number page-number-anna"> <p>5  / 9</p> </div>
        <%= link_to en_anna_page4_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
