      <%= link_to en_anna_intro2_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
            <%= image_tag("en/Anna/Anna_page1.jpg", class: "image-popup") %>
      <div class="page-number page-number-anna"> <p>3  / 9</p> </div>
        <%= link_to en_anna_page2_path  do %>
        <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
