    <%= render "shared/en_alert" %>
          <%= link_to en_home_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
      <%= image_tag("en/Anna/intro/Anna_intro.jpg", class: "image-popup") %>
      <%#= image_tag("community_volunteer.jpg", class: "popup", id: "community") %>

      <div class="islands en_lesbos" id="en_lesbos"></div>
      <div class="islands en_chios" id="en_chios"></div>
      <div class="islands en_samos" id="en_samos"></div>
      <div class="islands en_kos" id="en_kos"></div>
      <div class="island-news"></div>
      <div class="page-number page-number-anna"> <p>1  / 9</p>
      </div>

      <%= link_to en_anna_intro2_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
