      <%= link_to en_anna_page6_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>         <%= image_tag("en/Anna/page7/Anna_page7.jpg", class: "image-popup") %>
      <div class="popup popup-anna" id="en_anna_page7"></div>

      <div class="page-number page-number-anna"> <p>9  / 9</p> </div>
        <%= link_to en_home_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
