     <%= link_to en_kashka_page9_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>
            <%= image_tag("en/Kashka/Kashka_page10.jpg", class: "image-popup") %>

      <div class="page-number page-number-kashka"> <p>12  / 19</p> </div>
      <%= link_to en_kashka_page11_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>
