    <%= render "shared/en_alert" %>
    <%= link_to en_home_path  do %>
          <%= image_tag("fleche-gauche.jpg", class: "arrow-left") %>
      <% end %>

      <%= image_tag("en/Kashka/intro/Kashka_intro.jpg", class: "image-popup") %>

      <a href="https://www.iom.int/fr/la-migration-dans-le-monde" target="blank">
        <div class="popup popup-abdullah" id="en_migration"></div>
      </a>
       <div class="page-number page-number-kashka"> <p>1  / 19</p> </div>
       <%= link_to en_kashka_intro2_path  do %>
          <%= image_tag("fleche-droite.jpg", class: "arrow-right") %>
      <% end %>

